<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">TA queue admin</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href={{"static/rooms/" + room_name + ".css"}}/>
</head>
<body>
    <div class="split">
        <div class="left-main-section">
            <div class="classroom">
                <div class="request-help">
                    <div class="input-group">
                        <input id="name" type="text" placeholder="Write your name here">
                        <button id="update_name">Update name.</button>
                    </div>
                    <div id="name-info" class="name-info"></div>
                    <div id="warning" class="warning"></div>
                </div>
                <div class="tables" id="tables">
                    {% include ("rooms/" ~ room_name ~ ".html") %}
                </div>
            </div>
        </div>
        <div class="right-main-section">
            <table id="queue" class="queue">
                <tr>
                    <th>Index</th><th>Table ID</th><th>Needs help with</th><th>Help</th><th>Remove from queue</th>
                </tr>
            </table>
        </div>
    </div>
    <button id="flipp" class="bottom-left-btn">Flipp classroom</button>
    <script src="static/index.js"></script>
    <script src="static/admin.js"></script>
</body>
</html>
