<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="title">TA queue</title>
        <link rel="icon" type="image/png" href="static/favicons/Q.png" />
        <link rel="stylesheet" href="static/styles.css" />
    </head>
    <body>
        <div class="classroom">
            <div class="request-help">
                <div class="input-group">
                    <input id="oppgave" type="text" placeholder="Which task do you need help with?" />
                    <button id="button">Call TA to table ?</button>
                </div>
                <div id="queue-info" class="queue-info"></div>
                <div id="warning" class="warning"></div>
            </div>
            <!-- Left side rows -->
            <div class="left-section">
                <div class="row">
                    <div class="subrow">
                        <div class="table" id="1" data-table-number="1">1</div>
                        <div class="table" id="2" data-table-number="2">2</div>
                        <div class="table" id="3" data-table-number="3">3</div>
                    </div>
                    <div class="subrow">
                        <div class="table" id="4" data-table-number="4">4</div>
                        <div class="table" id="5" data-table-number="5">5</div>
                        <div class="table" id="6" data-table-number="6">6</div>
                    </div>
                </div>
                <div class="row">
                    <div class="subrow">
                        <div class="table" id="7" data-table-number="7">7</div>
                        <div class="table" id="8" data-table-number="8">8</div>
                        <div class="table" id="9" data-table-number="9">9</div>
                    </div>
                    <div class="subrow">
                        <div class="table" id="10" data-table-number="10">10</div>
                        <div class="table" id="11" data-table-number="11">11</div>
                        <div class="table" id="12" data-table-number="12">12</div>
                    </div>
                </div>
            </div>

            <!-- Right side rows -->
            <div class="right-section">
                <div class="row">
                    <div class="subrow">
                        <div class="table" id="13" data-table-number="13">13</div>
                        <div class="table" id="14" data-table-number="14">14</div>
                        <div class="table" id="15" data-table-number="15">15</div>
                    </div>
                    <div class="subrow">
                        <div class="table" id="16" data-table-number="16">16</div>
                        <div class="table" id="17" data-table-number="17">17</div>
                        <div class="table" id="18" data-table-number="18">18</div>
                    </div>
                </div>
                <div class="row">
                    <div class="subrow">
                        <div class="table" id="19" data-table-number="19">19</div>
                        <div class="table" id="20" data-table-number="20">20</div>
                        <div class="table" id="21" data-table-number="21">21</div>
                    </div>
                    <div class="subrow">
                        <div class="table" id="22" data-table-number="22">22</div>
                        <div class="table" id="23" data-table-number="23">23</div>
                        <div class="table" id="24" data-table-number="24">24</div>
                    </div>
                </div>
                <div class="row">
                    <div class="subrow">
                        <div class="table" id="25" data-table-number="25">25</div>
                        <div class="table" id="26" data-table-number="26">26</div>
                        <div class="table" id="27" data-table-number="27">27</div>
                    </div>
                    <div class="subrow">
                        <div class="table" id="28" data-table-number="28">28</div>
                        <div class="table" id="29" data-table-number="29">29</div>
                        <div class="table" id="30" data-table-number="30">30</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/index.js"></script>
    </body>
</html>
